<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!-- 
       <add name="OrthoSquareDBConnectionString" connectionString="Data Source=DESKTOP-FR7F32O;Initial Catalog=Ortho;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <add name="NewOrthoSquare2210Entities" connectionString="metadata=res://*/Data.OrthoSquare.csdl|res://*/Data.OrthoSquare.ssdl|res://*/Data.OrthoSquare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.204.4.195;initial catalog=Orthosquare_UAT;persist security info=True;user id=Orthosquare;password=Admin@@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	
	

	  <add name="OrthoSquareDBConnectionString" connectionString="Data Source=92.204.4.195; Initial Catalog=Orthosquare_UAT; User ID=Orthosquare;Password=Admin@@123;" providerName="System.Data.SqlClient"/>
  
	  <add name="NewOrthoSquare2210Entities" connectionString="metadata=res://*/Data.OrthoSquare.csdl|res://*/Data.OrthoSquare.ssdl|res://*/Data.OrthoSquare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.204.4.195;initial catalog=Orthosquare;persist security info=True;user id=ortho_admin;password=admin@@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


	
 -->
	  <add name="OrthoSquareDBConnectionString" connectionString="Data Source=92.204.4.195; Initial Catalog=Orthosquare; User ID=ortho_admin;Password=admin@@123;" providerName="System.Data.SqlClient" />



	  
	  <add name="NewOrthoSquare2210Entities" connectionString="metadata=res://*/Data.OrthoSquare.csdl|res://*/Data.OrthoSquare.ssdl|res://*/Data.OrthoSquare.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.204.4.195;initial catalog=Orthosquare_UAT;persist security info=True;user id=Orthosquare;password=Admin@@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
 
	
		</connectionStrings>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.JScript" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	
  <system.web>
    <sessionState mode="InProc" timeout="525600"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="Log" value="~/log.txt"/>
    <add key="EmailFromAddress" value="Generat.id99@gmail.com"/>
    <add key="EmailPassword" value="softw@123#"/>
    <add key="ServerPathR" value="~/Files/"/>
    <add key="FileStreamPath" value="http://infintrixindia.com/Orthosquare_UAT/EmployeeProfile/"/>
    <add key="FileAdPath" value="http://infintrixindia.com/Orthosquare_UAT/AdvertismentImage/"/>
    <add key="applicationId1" value="AIzaSyBod65ZF5SMcqLDpuaLtf-Nbv7xupuTcLI"/>
    <add key="senderId1" value="899335445226"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="OrthoSquare.Service1" behaviorConfiguration="ServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:14883/OrthoSquare/"/>
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior" contract="OrthoSquare.IService1"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="Service1.svc" service="OrthoSquare.Service1"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <!--<system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="OrthoSquare.OrthoSquareapiAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="OrthoSquare.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
     
      <service name="OrthoSquare.Service1">
        <endpoint address="" behaviorConfiguration="OrthoSquare.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="OrthoSquare.Service1" />
      </service>
    </services>
  </system.serviceModel>-->
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>