<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    
 <add name="OrthoSquareDBConnectionString" connectionString="Data Source=MAC\SQLEXPRESS;Initial Catalog=NewOrthoSquare2210;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
 
    <!--<add name="OrthoSquareDBConnectionString" connectionString="Data Source=IG-1\IG1; Initial Catalog=OrthoTest; User ID=sa;Password=admin@123;"
    providerName="System.Data.SqlClient" />-->
    
  <!--<add name="OrthoSquareDBConnectionString" connectionString="Data Source=208.91.198.196; Initial Catalog=OrthoTest; User ID=OrthoDemo;Password=demo@@123;"
    providerName="System.Data.SqlClient" />--> 


    <!--<add name="OrthoSquareDBConnectionString" connectionString="Data Source=208.91.198.196; Initial Catalog=OrthoTest; User ID=OrthoDemo;Password=demo@@123;"
    providerName="System.Data.SqlClient" />-->
    
    
  
   <!--<add name="OrthoSquareDBConnectionString" connectionString="Data Source=192.185.10.43; Initial Catalog=bginfintrix_OrthoSquare; User ID=bginf_admin;Password=admin@@123;"
    providerName="System.Data.SqlClient" />
    
     <add name="OrthoSquareDBConnectionString" connectionString="Data Source=208.91.198.196; Initial Catalog=OrthoSquareDB; User ID=OrthoSquare;Password=OrthoSquare@@123;"
    providerName="System.Data.SqlClient" />-->
  
  </connectionStrings>
  <system.web>

    <sessionState mode="InProc" timeout="525600"></sessionState>
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>